@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Public+Sans:wght@400;700&display=swap");

body {
  font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/** HEADER **/
.header {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
    url(./images/background2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-container {
  padding: 30px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-list {
  display: flex;
  gap: 100px;
  align-items: center;
}

.navbar-list a {
  text-decoration: none;
  color: #ffffff99;
  transition: all 0.3s ease;
}

.navbar-list a:hover {
  padding: 8px 12px;
  color: white;
  border: 1px solid white;
}

.hamburger {
  color: white;
  font-size: 20px;
  display: none;
}

.btn {
  border: none;
  padding: 10px 30px;
  background: black;
  color: white;
  font-weight: 400;
  transition: all 0.2s ease;
}

.btn:hover {
  background: transparent;
  color: white;
  border: 1px solid white;
}

.hero {
  padding: 30px 70px;
  color: #ffffff;
  max-width: 600px;
}

.hero h1 {
  font-size: 70px;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 40px;
}

.hero p {
  font-weight: 400;
  padding-bottom: 40px;
  font-size: 11px;
  line-height: 2;
}

.hero div {
  display: flex;
  gap: 40px;
}

.hero-btn {
  font-weight: 400;
  padding: 10px 30px;
  background: transparent;
  color: white;
  border: 1px solid white;
  transition: all 0.2s ease;
}

.hero-btn:hover {
  background: black;
  color: white;
  border: none;
}

.hidden {
  margin-top: 100px;
}

/* ABOUT */
.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: -80px 70px 100px 70px;
}

.about {
  padding: 10px;
  border-bottom: 1px solid #000000;
  background: white;
}

.about h2 {
  font-size: 50px;
  font-weight: 700;
}

.about h3 {
  font-size: 18px;
  font-weight: 700;
  padding: 10px 0;
}

.about p {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

/* PROJECTS */
.projects {
  padding: 0 70px;
  margin-bottom: 50px;
}

.project-heading,
.team-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.project-heading h1,
.team-heading h1 {
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
}

.project-heading p,
.team-heading p {
  font-size: 18px;
  font-weight: 400;
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.project-list {
  padding-bottom: 25px;
  border-bottom: 1px solid black;
}

.project-list p {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
}

.project-list img {
  width: 100%;
}

.project-list-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.project-list-name h2 {
  font-size: 20px;
  font-weight: 700;
}

.project-list-name p {
  font-size: 15px;
  font-weight: 400;
}

/* EXPERTISE */
.expertise-container {
  padding: 30px 70px;
}

.expertise-container h2 {
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
}

.expertise-details {
  margin-top: 20px;
  border-bottom: 1px solid black;
  position: relative;
}

.expertise-details img {
  width: 100%;
}

.expertise-details p {
  padding: 30px 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
}

.absolute {
  color: white;
  position: absolute;
  bottom: 30%;
  left: 3%;
}

.table {
  font-size: 60px;
}

.expertise-btn {
  padding-top: 30px;
  display: flex;
  justify-content: end;
  gap: 30px;
}

.prev {
  color: black;
  border: 1px solid black;
}

/* TEAM */
.team-container {
  padding: 30px 70px;
  margin-bottom: 50px;
}

.team {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.team-card {
  position: relative;
}

.team-card img {
  width: 100%;
}

.team-absolute {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  border-bottom: 1px solid black;
  position: absolute;
  max-width: 80%;
  bottom: -15%;
  left: 9%;
}

.team-absolute h2 {
  font-size: 16px;
}

.team-absolute h3 {
  font-size: 14px;
  padding: 10px 0;
}

.team-absolute p {
  font-size: 11px;
  text-align: center;
  line-height: 1.5;
}

/* NEWSLETTER */
.newsletter-container {
  margin-top: 100px;
}

.newsletter {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.letter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 70px;
}

.letter h1 {
  font-size: 50px;
  font-weight: 700;
}

.letter p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  padding: 30px 0;
}

.contact {
  padding: 50px 70px;
  color: white;
  background-color: #000000;
}

.contact label {
  font-size: 25px;
}

.contact input {
  width: 100%;
  padding: 10px 5px;
  background: black;
  border: none;
  color: white;
}

.contact div {
  margin-bottom: 10px;
}

.contact-btn {
  background: white;
  color: #000000;
  margin-top: 50px;
}

.button {
  display: flex;
  justify-content: end;
}

/* FOOTER */
.footer-container {
  background: black;
  color: white;
  padding: 70px;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-logo h2 {
  font-size: 15px;
  padding: 30px 0;
}

.footer-logo p {
  font-size: 10px;
  padding: 30px 0;
  color: #ffffff99;
}

.footer-details h2 {
  font-size: 20px;
  padding-bottom: 10px;
}

.footer-details ul li {
  list-style: none;
  padding: 10px;
  color: #ffffff99;
  font-size: 13px;
}

.footer-container h2 {
  text-align: center;
  font-size: 14px;
  color: #ffffff99;
}
